wp-admin/
wp-includes/
cgi-bin/
wp-content/plugins/advanced-custom-fields-pro
wp-content/plugins/classic-editor
appc-config.php
error_log
.htaccess
wp-config.php
wp-config.php1
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
readme.html
license.txt